{% extends 'flatpages/default.html' %}

{% load custom_tags %}

{% block content %}
<h1>Ans per page</h1>
<h3>{{ ans_sticker_list|length }}</h3>
<table>
  <tr>
    <td>Author response</td>
    <td>Publication date</td>
    <td>Text</td>

  </tr>
{% for ans in ans_sticker_list %}
           <tr>
               <td>{{ ans.author }}</td>
               <td>{{ ans.datetime_of_creation|date:'d M Y' }}</td>
               <td>{{ ans.text|safe }} </a> </td>

           </tr>
{% endfor %}
</table>

{# Информация о предыдущих страницах #}
{% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}