{% extends 'flatpages/default.html' %}

{% load custom_tags %}

{% block content %}

<h1>Stickers per page</h1>
<h3>{{ stickers|length }}</h3>
<hr>
{% if stickers %}
       <table>
           <tr>
               <td>Author bulliten</td>
               <td>Category</td>
               <td>Publication date</td>
               <td>Header</td>

           </tr>

           {% for sticker in stickers %}
           <tr>
               <td>{{ sticker.author }}</td>
               <td>{{ sticker.category }}</td>
               <td>{{ sticker.datetime_of_creation|date:'d M Y' }}</td>
               <td> <a href="{% url 'sticker' pk=sticker.id %}"> {{ sticker.heading }} </a></td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Stickers not find!</h2>
   {% endif %}

{# Информация о предыдущих страницах #}
{% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}